html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.App {
    border: 1px solid black;

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;   
}

main {
    flex: 1;
}

img.waldo-image {
    height: 400px;
    width: 800px;
}

.attempt{
    border: 5px solid red;
    position: absolute;
    width: 30px;
    height: 30px;
    transform: translateX(-50%) translateY(-50%);
}

.correct{
    border: 5px solid greenyellow;
    position: absolute;
    width: 30px;
    height: 30px;
    transform: translateX(-50%) translateY(-50%);
}

#container {
    position: relative;
}

#options {
    position: absolute;
    transform: translateX(-50%) translateY(20%);

    display: flex;
    flex-direction: column;
}