html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.App {
    border: 1px solid black;

    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 5fr 20fr 1fr;
    justify-items: center;
    align-items: center;
}

header {
    grid-area: 1 / 1 / 2 / 3;

    width: 100%;
    height: 100%;
    text-align: center;
}

footer {
    grid-area: 3 / 1 / 4 / 3;

    width: 100%;
    height: 100%;
    text-align: center;
}

main {
    justify-self: start;
    align-self: flex-start;
    width: 100%;
    height: 100%;
}

#leaderboard {
    align-self: flex-start;

    width: 100%;
    height: 100%;

    border: 1px solid black;
    text-align: center;
}

img.waldo-image {
    height: 400px;
    width: 800px;
}

.attempt{
    border: 5px solid red;
    position: absolute;
    width: 30px;
    height: 30px;
    transform: translateX(-50%) translateY(-50%);
}

.correct{
    border: 5px solid greenyellow;
    position: absolute;
    width: 30px;
    height: 30px;
    transform: translateX(-50%) translateY(-50%);
}

#container {
    position: relative;
}

#options {
    position: absolute;
    transform: translateX(-50%) translateY(20%);

    display: flex;
    flex-direction: column;
}

ol {
    margin: 0;
    padding: 0;
}


#timer {
    align-self: center;
}